*{
    margin: 0;
    padding: 0px;
    text-align: -webkit-center;
}

img{
    width: 20%;
}
.box{
    background-color: black;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px lightgrey;
    padding:10px;
    
}

.red{background-color:red;
width: 150px;
height: 150px;
border-radius: 50%;
opacity:0.3;
border: solid 10px black;
}


.big{
    display: flex;
    place-items: baseline;
    gap: 100px;
    place-content: center;
}
.green{background-color:green;
    width: 150px;
    height: 150px;
    opacity:30%;
border-radius: 50%;
border: solid 10px black}

.orange{background-color:orange;
    opacity:30%;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    border: solid 10px black;}

.pilier{
    background-color: black;
    width: 30px;
    height: 180px;
    box-shadow: 5px 5px 15px 5px ;
}
